<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139434385-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139434385-1');
  </script>

<title>Bob Dylan Village Walking Tour | 
{% block browserTitle %}

{% endblock %}
</title>


<link rel="icon"
      type="image/png"
      href="">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="icon"
    type="image/png"
    href="{% static '' %}">

<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Wendy+One" rel="stylesheet">

</head>

<body>

  <div id=screenContainer>
    <div id=mobileContainer>
      <div id=mainHeader>
        <div id=ldHeaderText class=cursiveHeader>Lisa and Dan's</div>
        <div id=villageHeaderText class=villageHeader>Greenwich Village Walking Tour</div>
      </div>

      <div id=templateContent>

        {% block content1 %}

        {% endblock %}

      </div>

    </div>
  </div>

</body>
</html>
